# Python
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.pytest_cache/

# Resultados y outputs (excluir por defecto)
*.png
*.csv
*.pdf
*.log

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# macOS metadata files
._*
.DS_Store
.AppleDouble
.LSOverride
INFORME_DE_TESIS_3/*.bbl
INFORME_DE_TESIS_3/*.blg
INFORME_DE_TESIS_3/*.aux
INFORME_DE_TESIS_3/*.log
INFORME_DE_TESIS_3/*.toc
INFORME_DE_TESIS_3/*.lof
INFORME_DE_TESIS_3/*.lot
INFORME_DE_TESIS_3/*.fls
INFORME_DE_TESIS_3/*.out
INFORME_DE_TESIS_3/*.md
INFORME_DE_TESIS_3/main.bcf
